<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Rent System</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Rent System</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/apartment}">Rent System</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center"> Add New Apartment </h1>
            <div class="card-body">
                <form th:action="@{/apartments}" th:object="${apartment}" method="POST">
                    <div class="form-group">
                        <input required hidden type="text" name="id" th:field="*{id}"/>
                    </div>

                    <div class="form-group">
                        <label>Apartment type:</label>
                        <input checked="checked"
                               type="radio"
                               name="type_a"
                               th:field="*{type}"
                               th:value="FLAT"
                        />FLAT
                        <input checked="checked"
                               type="radio"
                               name="type_a"
                               th:field="*{type}"
                               th:value="ROOM"
                        />ROOM
                        <input checked="checked"
                               type="radio"
                               name="type_a"
                               th:field="*{type}"
                               th:value="HOUSE"
                        />HOUSE</p>
                    </div>
                    <div class="form-group">
                        <label>Floor number:</label>
                        <input required
                               type="number"
                               name="floorNumber"
                               th:field="*{floorNumber}"
                               min="1"
                               placeholder="Enter price"

                        />
                    </div>


                    <div class="form-group">
                        <label>Price:</label>
                        <input required
                               type="number"
                               name="price"
                               th:field="*{price}"
                               min="1"
                               placeholder="Enter price"
                               title="Input price in hryvna"
                        />
                    </div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">
                            Save
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>